.bookshelf-sidebar {
  position: fixed;
  padding-top: 5px;
  margin: 15px;
  width: 150px;
}

.bookshelf-sidebar h4 {
  padding-bottom: 5px;
}

.bookshelf-list {
  padding-left: 5px
}

.new-bookshelf-form {
  width: 100%
}

.bookshelf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgrey;
  width: 120px;
}

.bookshelf:hover {
  cursor: pointer;
  background: lightgrey;
}

.bookshelf h5 {
  font-weight: 500;
  padding: 3px;
}

.delete-button {
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: inherit;
}

.add-button {
  color: grey;
  font-weight: normal;
  font-size: 12px
}

#delete-shelving {
  visibility: hidden;
  position: relative;
  left: 7px;
  margin: 0;
  left-margin: 35px;
  padding: 0px 5px;
  font-size: 12px;
}

.book-index-item:hover #delete-shelving {
  visibility: visible;
}
