.book-detail-container {
  margin: 0 auto 0 200px;
}

.book-detail-container * {
  margin: 15px;
}

.book-detail {
  margin: 15px;
  display: flex;
}

.book-detail img {
  width: 200px;
}

.book-detail-text {
  width: 500px;
}

.shelving-form {
  display: flex;
  flex-direction: column;
}
