.book-detail-container {
  margin: 0 10% 0 200px;
  display: flex;
  flex-direction: column;
}

.book-detail-container > * {
  margin: 15px;
}

.book-detail {
  display: flex;
}

.book-detail img {
  width: 250px;
  margin-bottom: 6px;
}

.book-detail-left {
  display: flex;
  flex-direction: column;
}

.book-detail-text {
  width: 500px;
}

.book-detail-text * {
  margin: 0 15px 15px 20px;
}

.book-detail-text p {
  font-weight: 400;
  color: #454545;
}

.stars {
  z-index: 1;
}

.shelving-form {
  display: flex;
  flex-direction: column;
}
