.book-index {
  margin: 0 auto 0 200px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-index-item {
  padding: 10px;
  display: flex;
  width: 250px;
  margin: 10px;
}

.book-index-item:hover {
  box-shadow: 0 0 4px #CCC;
}

.book-index-item * {
  margin: 10px
}
