.book-index {
  margin: 0 0 0 200px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.sort {
  padding-left: 30px;
  font-size: 14px;
  display: flex;
}

.sort ul {
  display: flex;
}

.sort ul p {
  margin: 0 10px;
}

.sort ul p:hover {
  cursor: default;
  text-decoration: underline;
}

.sort-selected {
  font-weight: bold;
}

.book-index-item {
  padding: 10px;
  display: flex;
  width: 220px;
  margin: 10px;
  font-size: 16px;
}

.book-index-item:hover {
  box-shadow: 0 0 7px #CCC;
}

.book-index-item * {
  margin: 10px 0 10px 10px;
}

.book-index-item img {
  box-shadow: 1px 1px 5px #777;
}
