.new-book {
  margin: 100px auto 50px auto;
  padding: 15px;
  background-color: #EFEFEF;
  box-shadow: 0px 1px 3px #AAAAAA;
  padding: 25px 0;
}

.new-book * {
  margin: 0 auto;
  width: 425px;
}


.new-book li {
  list-style: none;
  font-size: 12px;
  padding-left: 12px;
  color: #777;
}

.new-book-form {
  display: flex;
  flex-direction: column;
}

.new-book-form * {
  margin: 10px;
}

.new-book-form input {
  font-weight: normal;
  font-size: 12px;
  padding: 6px;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px #CCCCCC;
}

.new-book-form textarea {
  resize: none;
  height: 100px;
  width: 431px;
  font-weight: normal;
  font-size: 12px;
  padding: 3px;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px #CCCCCC;
}

.new-book-form img {
  width: 200px;
  margin: 10px auto;
}
