.review-item {
  list-style: none;
  border-top: 1px solid lightgrey;
  padding-left: 15px;
  width: auto;
}

.review-item * {
  margin: 10px;
}

.review-form {
  width: 200px;
}

.review-form > * {
  margin: 7px auto;
  width: 100%
}

.review-form h5 {
  font-weight: 500;
}

.review-form textarea {
  max-width: 97%;
  height: 75px;
}
